.profileDesign {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.text-center{
  display: flex;

}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  /* background-color: black; */
}

.cardColumn {
  /* Apply styles for mobile devices */
  width: 100%;

  /* Apply styles for larger screens */
  @media (min-width: 576px) {
    width: 50%;
  }

  /* Apply styles for tablets */
  @media (min-width: 768px) {
    width: 33.33%;
  }

  /* Apply styles for desktops */
  @media (min-width: 992px) {
    width: 25%;
  }
}

.desingCardAnime {
    width: 110%;
    height: 38em;
  
    /* Apply styles for larger screens */
    @media (min-width: 576px) {
      width: 90%;
      /* height: 32em; */
    }
  
    /* Apply styles for tablets */
    @media (min-width: 768px) {
      width: 80%;
      /* height: 32em; */
    }
  
    /* Apply styles for desktops */
    @media (min-width: 992px) {
      width: 70%;
      /* height: 32em; */
    }
  
    /* Apply styles for mobile devices */
    @media (max-width: 575px) {
      height: 40em;
    }
    transition: transform 0.3s ease;
    background-color: rgb(238, 241, 241);

    

  }

  .desingCardAnime:hover {
    transform: scale(1.05);
  }
