.animeDesing {
    display: flex;
    justify-content: center;
    background-color: aqua;
    max-width: 100%;
  }
  
  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100em;
  }
  .cardColumn {
    width: 20em;
    padding: 0.5em;
    box-sizing: border-box;
  }
  
  .card {
    margin-bottom: 1em;
  }
  
  .desingCardAnim{
    width: 18em;
    height: 34em;
    transition: transform 0.3s ease;
}

.desingCardAnim:hover {
  transform: scale(1.05);
}